.DS_Store
*.log
node_modules/

# Capacitor (gegenereerd door cloud-build)
www/
ios/
android/
.capacitor/

# Uitzondering: het eigen document-scanner-plugin bevat een 'ios'-map met
# Swift-broncode die WEL mee moet (anders faalt cap sync op de builder).
!local-plugins/**/ios/
!local-plugins/**/ios/**
